* {
    margin: 0;
    outline: 0;
    color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background: #191919;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    text-align: center;
}
header {
    margin: 40px 0;
}
h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-size: 1.4em;
    font-weight: 500;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
th {
    font-size: 1.1em;
    font-weight: 700;
    color: #000;
}
td {
    font-weight: 400;
}
th, td {
    padding: 6px 10px;
    border: 1px solid #e3e3e3;
}
tr:first-child {
    background: #fff;
}
